@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Roboto);
*{margin:0;padding:0}

body{
	background-color:#cdec70;
}
body{font-family:Sans-Serif, Arial !important; transition:all 0.10s ease;-webkit-transition:all 0.10s ease;-moz-transition:all 0.10s ease;}
body, html{height:100%;}

.floatleft{float:left}
.floatright{float:right}

.logu_floatright{
	float:left
}
.logu_floatright img{
	width:100px;
	height:95px;
	border:2px solid #ababab; border-radius:7px;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; color:#1F5A9D;
}
#wrapper{
	width:960px;
	margin:20px auto;
}

#header_main{
	color:#008000; 
	float:right;
	padding-right:230px;
}
#header_main p{
	color:#f70101; 
	font-size:16px;
	margin-left:60px;
}
.header_main h1{
	color:#0030ff;
	font-size:38px;
	margin-left:-5px;
}

.container_menu{
	margin-top: 20px;
	,opacity: 0.7;
	,overflow:hidden;
}


.menu{background:#008000;min-height:49px;}
.menu ul{}
.menu ul li{list-style:none; float:left; border-right:1px solid #fff;}
.menu ul li a{text-decoration:none;padding:14px 15px;display:block;color:#fff;
transition:all 0.10s ease;-webkit-transition:all 0.10s ease;-moz-transition:all 0.10s ease;
}
.menu ul li a:hover{
	color:#fff;
	background:#f70101;
}


.undrmnu_srch{padding-top:0; position:relative; margin-bottom:10px;margin-top:2px;margin-right:11px;}
.undrmnu_srch input{ width:240px; height:35px; border:1px solid #ababab; border-radius:5px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding:0 10px; background:#fff; font:normal 14px Arial, Helvetica, sans-serif; color:#1F5A9D; margin-top:5px; margin-left:15px; }
.undrmnu_srch input[type="submit"] { width:27px; height:27px; cursor:pointer; text-indent:-999999px; border:none;  background:url(images/srchIcon.png) no-repeat; position:absolute; right:13px; top:6px;}


.menu2{background:#008000;min-height:50px;}

.menu2 ul li{list-style-type:none;}
.menu2 ul li a{ 
	margin-top:15px; margin-bottom:15px;
	text-decoration:none;padding:15px 1px; display:block; color:#f70101; 
	transition:all o.3s;-webkit-transition:all 0.6s; -moz-transition: all 0.6s;
}
.menu2 ul li a{
	color:#fff;
	background:#f70101;
	width:110px;

}


a:hover{text-decoration:underline}
h1, h2, h3, h4, h5, h6{font-weight:normal;margin-top:10px;margin-bottom:px}
p{line-height: 150%;margin-bottom: 2em;}

.container_full {width: 100%; height: auto;}
.container {width:960px; margin:0 auto; display:block }
.fix{overflow:hidden;}
.aligncenter{display:block;margin:0 auto;}
.floatleft{float:left}
.floatright{float:right}
/*---------------------------*/

.content_wrapper input{width:100px;height:15px;border-radius:5px;margin-left:5px;}
.content_wrapper input[type="submit"]{width: 75px;
height: 30px;
color: #fff;
background: #008000;margin-left:5px;margin-top:5px;cursor:pointer}

#icon h5{
color: #fff;
padding: 2px 2px 2px 30px;
background-size: 20px 20px;
margin:415px -10px 0px -10px;
margin-bottom:-435px;
}

.middle-side_content img{
width:960px;
height:450px;
border:2px solid #ababab; border-radius:7px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; color:#1F5A9D; margin-bottom:15px;
}

.middle_content_article{
border:2px solid #ababab; border-radius:7px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; color:#1F5A9D; padding:15px;
}
.middle_content_article{width: 960px; height:;
background: #f5f7f9; margin-bottom: 5px;
border:1px solid #ababab; border-radius:7px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; 
color:#000;
}
.middle_content_article h2{color:#0030ff}
.middle_content_article h2{padding: 5px 2px 2px 30px;
background: url(images/3-bar-menu.png) no-repeat #ddd;
background-size: 20px 20px;
background-position: 5px 10px;
margin:0px -10px 10px -10px;
}
.middle_content_article blockquote{padding: 15px 0px 15px 57px;
background: url(images/quote.png) no-repeat #ddd;
background-size: 41px 55px; background-position: 5px 10px;
font-weight: bold; margin-bottom: 5px;
border-left: 4px solid red;margin-left:15px;
}
.middle_content_article ul{
	padding:10px
}

.main_article_single{,	margin-bottom:25px;,
	border-bottom:1px solid #ddd;,overflow:hidden;
}
.main_article_single h2{
	padding:10px;
}
.imgp_wrap{
	padding-left:10px;
}
.imgp_wrap img{
	width:75px;
	height:75px;
	background:#fff;
	border:1px solid #ddd;
	padding:3px;
	margin-right:10px;
	float:left;
}

.imgp_wrap p{
	float:left;
	width:500;
	
}




div#sticker{
}
.stick {
	position:fixed;
	top:0px;
	z-index:9999;
}



.footer_part{background:#008000; margin-top: 15px; padding-bottom:25px;}
.footer_part h2{color:#fff;font-family: 'Oswald', sans-serif;padding-left:5px;border-bottom:2px solid #dff3e1}
.footer_part ul{margin-left:5px;}
.footer_part ul li{margin-top:2px;margin-bottom:2px;list-style:none}
.footer_part a{color:#fff;text-decoration:none;}
.footer_part a:hover{color:#f70101;}

.footer_left{width:315px
}
.footer_left ul li{float:left;}
.footer_left ul li img{
	width: 40px;
	height: 40px;
	padding: 2px 10px;
}
.footer_middle{width:300px;margin-right:15px;}

.footer_left{width:300px;margin-right:15px;}

.footer_right{width:315px}
.footer_right ul li{float:left;}
.footer_right ul li img{
	width: 40px;
	height: 40px;
	padding: 2px 10px;
}
.copysec{background:#006600;padding:10px;text-align:center}



